initiative.json
src/main/static/*.json
.settings/
bin/
coverage/
karma_html/
node_modules/
saves/
src/main/webapp/static/saves
DnD.iml
test-results.xml
spec-runner.html
TODO.rtf
libpeerconnection.log
.idea
.com.apple.timemachine.supported
main.iml
test.iml
story.iml
.vscode
equipmentCards/*.tsv
equipmentCards/.gitBACKUP
projector/*.json
forestMaze/dist
state.json
forestMaze/lib
