body, dialog {
  background-color: black;
  color: white;
}

dialog {
  margin-right: 0;
  margin-top: 0;
  max-width: 25%;
}

dialog input {
  width: 100%;
}

dd {
  white-space: nowrap;
}

.rail {
  position: fixed;
  height: 100%;
  max-width: 25%;
  z-index: 1;
}

.rail.right {
  right: 0;
}

#restart {
  font-size: xx-large;
  height: 5%;
  width: 100%;
}

#forest {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.direction {
  font-size: xxx-large;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px black;
  z-index: 1;
}

.direction:hover {
  opacity: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.direction:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('./Scrollwork\ arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.direction .label {
  position: absolute;
}

#up {
  top: 0;
  left: 25%;
  width: 50%;
  height: 10%;
}
#up:before {
  left: 50%;
  transform: translate(-25%, 0);
}
#up .label {
  left: 15%;
  top: 0;
}

#right {
  top: 25%;
  right: 0;
  width: 10%;
  height: 50%;
}
#right:before {
  background-image: url('./Scrollwork\ arrow\,\ right.png');
  background-position-x: right;
}
#right .label {
  left: auto;
  transform: rotate(90deg);
  top: 15%;
}

#down {
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 10%;
}
#down:before {
  left: -50%;
  transform: rotate(180deg) translate(-25%);
}
#down .label {
  right: 25%;
  transform: rotate(180deg);
  bottom: 0;
}

#left {
  top: 25%;
  left: 0;
  width: 10%;
  height: 50%;
}
#left:before {
  background-image: url('./Scrollwork\ arrow\,\ right.png');
  background-position-x: right;
  transform: rotate(180deg);
}
#left .label {
  left: 0;
  transform: rotate(270deg);
  top: 15%;
}

.hidden {
  display: none;
}

.navigateOut {
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.navigateIn {
  opacity: 1;
  transition: visibility 0s 2s, opacity 2s linear;
}
