body { background-color:black; color: white; }
th, td { border-color: white; }
    
.alignTop { vertical-align: top; }
.bordered { border-style: solid; border-width: 3px; }
.centered { text-align: center; }
.centered img { display: block; margin-left: auto; margin-right: auto; }
.f1 { font-size: 1.5em; }
.f2 { font-size: 1.2em; }
.floatLeft { float: left; }
.gridItem { display: inline-block; font-size: 24px; vertical-align: top; } 
.fullHeight { height: 100%; }
.fullWidth { clear: both; width: 100%; }
.halfWidth { max-width: 50%; width: 50%; }
.fullBoth { height: 100%; width: 100%; }
.nowrap { white-space: nowrap; }

/* vertical centering */
.verticallyCentered { display: table; position: relative; }
.verticallyCentered > .wrapper { display: table-cell; position: static; vertical-align: middle; top: 50%; width: 100%; }
.verticallyCentered > .wrapper > .content { position: relative; top: -50%; }

div#header { background-color: black; position: fixed; width: 100%; z-index: 5; }
span#spanLabel { font-size: 1.2em; }
input#round { width: 30px; }

#pageLayout {
	display: table;
	padding-top: 30px;
	width: 100%;
}

#pageLayout .leftPanel, #pageLayout .rightPanel {
	display: table-cell;
}


#initiative img.icon {
	height: 30px;
}

#displayImage {
	background-color: black;
	background-position: top left;
	background-repeat: no-repeat;
    background-size: contain;
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	vertical-align: middle;
	z-index: 1000;
}

#displayImage img {
	z-index: 1;
}

#displayImage .reticle {
    background-image: url("/images/symbols/reticle.png");
	background-position: center;
	background-repeat: no-repeat;
    background-size: 20px 20px;
	display: none;
	height: 20px;
	position: absolute;
	width: 20px;
	z-index: 2;
}


/* actorTable */
#roundLabel { font-size: 9pt; }

//  table#initiative { border-collapse: collapse; }
table#initiative th, table#initiative td { text-align: center; } 
table#initiative td.order { max-width: 50px; }
table#initiative td.defenses { max-width: 80px; }
table#initiative td.hp { padding: 3px; text-align: left; }
table#initiative td.actions img { display: block; margin: 5px auto; }
table#initiative .tempHp { font-style: italic; }
table#initiative td.history div { font-size: 0.75em; max-height: 130px; overflow-y: auto; padding-right: 20px; text-align: left; white-space: nowrap; }

/* actorRow */
.numerator:after { content: '/' }
.action { cursor: pointer; display: block; }

/* actorCard */
td.cardHolder { padding: 0; }
.creaturePanel { 
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: top center; 
	border-width: 4px; 
	box-sizing: border-box; 
	float: left; 
	height: 180px; 
	margin: 2px; 
	width: 100%; }
#initiative .creaturePanel { display: inline-block; float: none; }
.creaturePanel.current { border-color: lime; }
.creaturePanel .label { background-color: black; bottom: 0; font-size: 1.2em; height: 1.2em; left: 0; position: absolute; right: 0; white-space: normal; }
.creaturePanel.pcHp .label { height: 2.4em; }
.creaturePanel.bloodied, .creaturePanel.bloodied .label { background-color: red; }

.creaturePanel .state, .creaturePanel .state .effects, .creaturePanel .event { bottom: 0; left: 0; position: absolute; right:0; top: 0; }
.creaturePanel .event, .creaturePanel .condition { color: #FFFFFF; overflow: hidden; text-align: center; vertical-align: middle; }
.creaturePanel .condition { background-color: white; float: left; position: relative; }
.creaturePanel .condition .amount { bottom: 0; left: 0; display: table-cell; position: absolute; right: 0; text-align: center; top: 0; vertical-align: middle; }
.creaturePanel .condition .amount span { background-color: white; font-size: 1.5em; font-weight: bold; text-shadow: 2px 2px black; }
.creaturePanel .event { background-position: center; background-size: cover; bottom: auto; height: 90%; overflow: hidden; width: 100%; }
.creaturePanel .event.hit { background-image: url("/images/symbols/pow.png"); }
.creaturePanel .event.miss { background-image: url("/images/symbols/miss.jpg"); }
.creaturePanel .event .description { background-color: black; margin-top:10px; padding: 10px; }
.creaturePanel .event.hit .description { display: none; }
.creaturePanel .event.hit .content { min-height: 50%; }
.creaturePanel .event.hit .types,
.creaturePanel .event.hit .types .type { min-height: 100%; overflow: hidden; position: relative; }
.creaturePanel .event.hit .types img.damage { display: inline; }
.creaturePanel .event.hit .types .type span { left: 25%; position: absolute; }

/* history */
.history li.entry .message { display: inline; }
.history li.entry textarea, .history li.entry .save, .history li.entry .delete { display: none; }
.history li.entry.edit .message { display: none; }
.history li.entry.edit textarea, .history li.entry.edit .save, .history li.entry.edit .delete { display: inline; }
#freeFormHistory { text-align: center; white-space: nowrap; }
.round .time { padding-left: 5px; }
.round .edit textarea { height: 150px; }

/* editor */
.editor .display {}
.editor.edit .display { display: none; }
.editor input, .editor button { display: none; }
.editor.edit input, .editor.edit button { display: inline; }


.layout { padding-top: 40px; }


div#history { min-width: 30%; padding: 0 5px; }
div#history h3 { margin: 5px 0; }

/* Dialogs */
.modal-header {
	border: 1px solid #0b3e6f;
	background: #0b3e6f url(images/ui-bg_diagonals-thick_15_0b3e6f_40x40.png) 50% 50% repeat;
	color: #f6f6f6;
	font-weight: bold;	
}
.modal-body {
	background-color: #222222;
}
.modal-footer {
	background-color: #999999;
}


/* attacksDialog */
#attacksDialog .column1, #attacksDialog .column2, #attacksDialog .column3 { display: table-cell; height: 100%; position: relative; }
#attacksDialog .column1, #attacksDialog .column3 { padding-bottom: 50px; vertical-align: top; width: 40%; }
#attacksDialog .column2 { width: 15%; }
#attacksDialog .column2 img { margin: 0 auto; }
#attacksDialog .column2 div { text-align: center; width: 100%; }
#attacksDialog input.number { height: 30px; line-height: 20px; }
#attacksDialog .attacks2targets { margin-top: 100%; }
#attacksDialog .attacks2targets img { display: block; }
#attacksDialog .playerAttack * { max-width: 50%; width: auto; }
#attacksDialog .playerRolls { height: 30px; position: absolute; bottom: 0; }
#attacksDialog .control-group input { border-width: 3px; }

/* imageDialog */
#imageDialog { bottom: 2%; left: 2%; margin: 0; right: 2%; top: 2%; width: auto; }
#imageDialog .modal-body { bottom: 60px; display: table-row; left: 0; max-height: 100%; position: absolute; right: 0; top: 50px; }
#imageDialog .leftPanel, #imageDialog .rightPanel { bottom: 0; position: absolute; vertical-align: top; top: 0; }
#imageDialog .leftPanel { left: 0; width: 329px; }
#imageDialog .rightPanel { left: 329px; right: 0; }
#imageDialog .fullSize { display: none; max-height: 100%; max-width: 100%; }
#imageDialog .images {}
#imageDialog .images .thmbnl { height: 40px; margin: 0 3px 3px 0; }
#imageDialog .modal-footer { bottom: 0; left: 0; position: absolute; right: 0; }

/* initiativeDialog */
.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; font-size: 1.4em; height: 2.0em; line-height: 2.0em; }
.sortable li * { margin: 0 0.5em; line-height: 100%; }
.sortable li input { height: 100%; max-width: 50px; }
.grab { cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move; }
.grabbing { cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move; }
.droppable { border-color: green; border-width: 6px; }

