body {
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 62.5%; 
}

th, td { border-color: white; }
    
.alignTop { vertical-align: top; }
.bordered { border-style: solid; border-width: 3px; }
.bloodied { background-color: red; }
.centered { text-align: center; }
.centered img { display: block; margin-left: auto; margin-right: auto; }
.current { border-color: blue; border-width: 6px; }
.f1 { font-size: 1.5em; }
.f2 { font-size: 1.2em; }
.floatLeft { float: left; }
.gridItem { display: inline-block; font-size: 24px; vertical-align: top; } 
.fullHeight { height: 100%; }
.fullWidth { clear: both; width: 100%; }
.halfWidth { width: 50%; }
.fullBoth { height: 100%; width: 100%; }
.nowrap { white-space: nowrap; }
.numerator:after { content: '/' }
.grab { cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move; }
.grabbing { cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move; }
.droppable { border-color: green; border-width: 6px; }

div#header { background-color: black; margin-top: -20px; position: fixed; width: 100%; z-index: 5; }
div#header * { margin-right: 10px; }
span#spanLabel { font-size: 1.2em; }
input#round { width: 30px; }

#history { margin-top: 20px; }
#history > tr > td, #history > tbody > tr > td { vertical-align: top; }
#history div { text-align: center; }
.round .edit textarea { height: 150px; }

#display .creaturePanel {  }
.creaturePanel { margin:2px; position: relative; }
#initiative .creaturePanel { min-height: 120px; margin:2px; position: relative; width: 120px; }
.creaturePanel .column { float: left; margin-right: 4px; }
.creaturePanel div.condition { background-color: #FFFFFF; color: #FFFFFF; float: left; margin-right: 2px; position: relative; text-align: center; vertical-align: middle; }
.creaturePanel div.condition span { bottom: 0; font-size: 1.3em; font-weight: bold; left: 0; margin: auto; position: absolute; right: 0; text-shadow: 3px 3px black; top: 0; vertical-align: middle; }
.creaturePanel .effects { bottom: 0; left: 0; position: absolute; right:0; top: 0; }
.creaturePanel .effects { margin: 0 1px 2px 0; }
        
div#history { float: right; height: 100%; min-width: 30%; padding: 0 5px; }
div#history h3 { margin: 5px 0; }
//  table#initiative { border-collapse: collapse; }
table#initiative th, table#initiative td { text-align: center; } 
table#initiative td.hp { padding: 3px; text-align: left; }
table#initiative td.actions img { display: block; margin: 5px auto; }
table#initiative .tempHp { font-style: italic; }
div#attacksDialog { padding: 5px; }
div#attacksDialog table { color: black; width: 98%; }
div#attacksDialog td { vertical-align: top; }
div#attacksDialog td.attacks2targets { padding-top: 30%; }
div#attacksDialog td.attacks2targets img { display: block; }
div#attacksDialog td { height: 100%; }
div#attacksDialog td select { display: block; width: 100%; }
div#attacksDialog td.playerAttack input { max-width: 50%; }
div#attacksDialog td.playerAttack select { display: inline; width: auto; }
table#initiative td.history div { font-size: 0.75em; max-height: 130px; overflow-y: auto; padding-right: 20px; text-align: left; white-space: nowrap; }"
