<td class="order centered">
    <div class="btn-group btn-group-vertical">
        <button type="button" class="btn btn-default action up" title="Move up initiative order">
            &#9651;<i class="icon-arrow-up icon-white"></i>
            <!-- <img src="../images/symbols/up.png" height="30" style="height: 30px;"/> -->
        </button>
        <button type="button" class="btn btn-default action order" title="Set initiative order">
            &#9636;<i class="icon-list icon-white"></i>
        </button>
        <button type="button" class="btn btn-default action down" title="Move down initiative order">
            &#9661;<i class="icon-arrow-down icon-white"></i>
            <!-- <img src="../images/symbols/down.png" height="30" style="height: 30px;"/> -->
        </button>
    </div>
</td>
<td class="centered cardHolder">
    <div class="card grab" data-template-include="actorCard.html" draggable="true"></div>
</td>
<td class="defenses">
    <div class="nowrap ac" title="AC">
        <img class="icon" src="../images/symbols/ac.png" height="20" style="height: 20px;"/>
        <span class="editor"></span>
    </div>
    <div class="nowrap fort" title="FORT">
        <img height="20" class="icon" src="../images/symbols/fort.png"/>
        <span class="editor"></span>
    </div>
    <div class="nowrap ref" title="REF">
        <img height="20" class="icon" src="../images/symbols/ref.png"/>
        <span class="editor"></span>
    </div>
    <div class="nowrap will" title="WILL">
        <img height="20" class="icon" src="../images/symbols/will.png"/>
        <span class="editor"></span>
    </div>
</td>
<td class="hp">
    <div class="temp nowrap">
        <img height="20" class="icon" title="Temporary HP" src="../images/symbols/temp_hp.png"/>
        <span class="editor"></span>
    </div>
    <div class="nowrap">
        <img height="20" class="icon" title="HP" src="../images/symbols/hp.png"/>
        <span class="current">
            <span class="editor numerator"></span>
        </span>
        <span class="total">
            <span class="editor"></span>
        </span>
    </div>
    <div class="nowrap">
        <img height="20" class="icon" title="Healing Surges" src="../images/symbols/surge.png"/>
        <span>
            <span class="surgesCurrent">
                <span class="editor numerator"></span>
            </span>
        </span>
        <span class="surgesPerDay">
            <span class="editor"></span>
        </span>
    </div>
    <div class="ap nowrap">
        <img height="20" class="icon" title="Action Points" src="../images/symbols/action_point.jpg"/>
        <span class="editor"></span>
    </div>
</td>
<td class="actions">
    <div class="btn-group btn-group-vertical">
        <button type="button" class="btn btn-default action attack" title="Attack">
            <img src="../images/symbols/attack.png" height="30" style="height: 30px;"/>
        </button>
        <button type="button" class="btn btn-default action heal" title="Heal">
            <img src="../images/symbols/heal.png" height="30" style="height: 30px;"/>
        </button>
        <button type="button" class="btn btn-default action exit" title="Exit">
            <img src="../images/symbols/exit.jpg" height="30" style="height: 30px;"/>
        </button>
        <button type="button" class="btn btn-default action rename" title="Rename">
            <img src="../images/symbols/rename.png" width="30" style="width: 30px;"/>
        </button>
    </div>
</td>
<td class="history">
    <div data-template-include="history.html"></div>
</td>
