<div class="images wrapper">
    <img class="portrait handle content" />
    <div class="state">
        <div class="effects centered">
            <div class="types"></div>
        </div>
        <div class="event verticallyCentered">
            <div class="wrapper">
                <div class="content">
                    <div class="types">
                        <span class="type">
                            <span class="amount"></span>
                        </span>
                    </div>
                    <div>
                        <span class="description content"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="label">
    <div class="name"></div>
    <div class="hp"></div>
</div>
