<div id="attacksDialog" class="modal hide fade" data-backdrop="true" data-keyboard="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Attacks</h3>
    </div>
    <div class="modal-body">
        <div class="column1">
            <div>
                <select id="weaponSelect"></select> 
            </div>
            <div>
                <select id="attackSelect" size="7"></select>
            </div>
            <div class="playerRolls playerAttack control-group">
                <input id="playerAttackRoll" type="number" class="number" placeholder="Attack roll" /> 
                <select id="playerAttackCrit" title="Critical">
                    <option value=""></option>
                    <option value="crit">CRIT</option>
                    <option value="fail">FUMBLE</option>
                </select>
            </div>
        </div>
        <div class="column2">
            <div class="attacks2Targets">
                <img id="combatAdvantage" height="30" style="height: 30px;" src="/images/symbols/attack.png" />
            </div>
            <div class="playerRolls">Player rolls</div>
        </div>
        <div class="column3">
            <div>
                <select id="targetSelect" multiple="multiple" class="fullWidth"></select>
            </div>
            <div class="playerRolls playerDamage control-group">
                <input id="playerDamageRoll" type="number" class="number" placeholder="Damage roll" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn attackBtn">Attack</a>
    </div>
</div>
