<div id="buffsDialog" class="dialog">
    <div class="header">
        <div class="text">Buffs</div>
    </div>
    <div class="body">
        <div class="column1">
            <div id="buffSelect" class="list-group"></div>
            <div class="playerRolls playerAttack control-group">
            </div>
        </div>
        <div class="column2">
            <div class="healing"></div>
            <div class="keywords"></div>
            <div class="description"></div>
            <div class="playerRolls">Player rolls</div>
        </div>
        <div class="column3">
            <div class="targets">
                <select id="targetSelect" multiple="multiple" size="100"></select>
            </div>
            <div class="playerRolls playerDamage control-group">
                <input id="playerHealRoll" type="number" class="number form-control" placeholder="Heal extra roll" />
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="btn btn-primary useBtn">Use</button>
    </div>
</div>
