<div id="creaturesDialog" class="dialog" data-backdrop="true" data-keyboard="true">
  <div class="header">
    <div class="text">Creatures</div>
  </div>
  <div class="body">
    <div class="column creatures">
        <select id="creatureSelect" multiple="multiple"></select>
    </div>
    <div class="column">
        <button class="add btn btn-default">&gt;</button>
        <button class="remove btn btn-default">&lt;</button>
    </div>
    <div class="column selected">
        <select id="creatureSelected" multiple="multiple"></select>
    </div>
  </div>
  <div class="footer">
    <a href="#" class="btn btn-primary">Add</a>
  </div>
</div>