<div id="creaturesDialog" class="modal hide fade" data-backdrop="true" data-keyboard="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Creatures</h3>
  </div>
  <div class="modal-body">
    <select id="creatureSelect" multiple="multiple" size="10"></select>
    <button class="add btn">&gt;</button>
    <button class="remove btn">&lt;</button>
    <select id="creatureSelected" multiple="multiple" size="10"></select>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Add</a>
  </div>
</div>