<div id="effectsDialog" class="dialog">
    <div class="header">
        <span class="text">Effects</span>
    </div>
    <div class="body">
        <table>
            <thead>
                <th>Effect</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Duration</th>
                <th>Save Ends</th>
                <th>Initiator</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <!-- js generated rows are added here -->
            </tbody>
        </table>
    </div>
    <div class="footer">
        <button class="btn btn-default exportBtn">Close</button>
    </div>
</div>
