<div id="healDialog" class="dialog">
    <div class="header">
        <span class="text">Healing</span>
    </div>
    <div class="body">
        <div class="column">
            <div class="input-group">
                <span class="input-group-addon">Description</span>
                <input id="healingDescription" type="text" class="form-control" />
            </div>
            <div class="input-group">
                <input disabled value="Is temporary HP" class="form-control" />
                <span class="input-group-addon"><input id="isTempHp" type="checkbox" /></span>
            </div>
            <div class="input-group">
                <input disabled value="Uses healing surge" class="form-control" />
                <span class="input-group-addon"><input id="usesHealingSurge" type="checkbox" checked="true" /></span>
            </div>
            <div class="input-group">
                <input id="healingAmount" type="number" disabled="disabled" class="form-control" /> <span class="input-group-addon">+</span> <input id="healingExtra" type="number" class="form-control" />
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="btn btn-default healBtn">Heal</button>
    </div>
</div>
