<div id="imageDialog" class="modal hide fade" data-backdrop="true" data-keyboard="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Image</h3>
    </div>
    <div class="modal-body">
        <div class="leftPanel">
            <h2 id="imageFileDropZone" style="color: white;">Drop files here or</h2>
            <div id="imageFileInputContainer">
                <input id="imageFileInput" type="file" multiple="multiple" />
            </div>
            <div id="imageUrlInputContainer">
                or enter an image URL <input id="imageUrlInput" type="url" /> <button id="imageUrlButton" class="btn">Fetch</button>
            </div>
            <div class="images"></div>
        </div>
        <div class="rightPanel">
            <img class="fullSize" />
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn hideBtn">Hide</a> 
        <a href="#" class="btn btn-primary displayBtn">Display</a>
    </div>
</div>